{% extends "layout.html.twig" %}
{% block title %}
Reservation
{% endblock %}
{% block res_body %}
<div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <p class="mb-0">Validation</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Reservation</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Details</a></li>
                        </ol>
                    </div>
                </div>
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ reservation.heure }}</td>
            </tr>
            <tr>
                <th>Nb_customer</th>
                <td>{{ reservation.nbCustomer }}</td>
            </tr>
            <tr>
                <th>Nom_client</th>
                <td>{{ reservation.nomClient }}</td>
            </tr>
            <tr>
                <th>Phone_client</th>
                <td>{{ reservation.phoneClient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_index') }}">back to list</a>

    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
     </div>
                </div>
{% endblock %}
